* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.dark-text {
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 634px;
    text-align: center;
    margin: 32px auto 0px auto;
}

/* banner styles */

.banner {
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    display: flex;
    justify-content: center;
    gap: 97px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 790px;
    margin-top: 197px;
}

.banner-text {
    text-align: left;
    margin: 32px 0px 0px 0px;
}

.btn {
    margin-top: 32px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner-img {
    margin-top: 50px;
}

/* section styles */

section {
    margin-top: 128px;
}

section h5 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-images {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

.flower-section1 {
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    width: 464px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.flower-section2 {
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    width: 464px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.flower-section3 {
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    width: 464px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.featured-img-txt {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 32px 400px 0px 400px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

