* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.dark-text {
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 634px;
    text-align: center;
    margin: 32px auto 0px auto;
}

/* banner styles */

.banner {
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    display: flex;
    justify-content: center;
    gap: 97px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 790px;
    margin-top: 197px;
}

.banner-text {
    text-align: left;
    margin: 32px 0px 0px 0px;
}

.btn {
    margin-top: 32px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}

.banner-img {
    margin-top: 50px;
}

section {
    margin-top: 128px;
}

body h5 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


/* section styles */

/* featured styles*/

.featured-images {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

.flower-section1 {
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    width: 464px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.flower-section2 {
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    width: 464px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#flower2 {
    margin-bottom: 51px;
}

.flower-section3 {
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    width: 464px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.featured-img-txt {
    display: flex;
    justify-content: center;
    margin: 32px 400px 0px 400px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.featured-img-txt>p {
    padding: 0px 142px;
    flex: none;
}

/* services styles */

.services {
    margin: 0px auto;
    background-color: #2727270D;
    padding: 87px 0px;
    width: 1440px;
    margin-top: 128px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons>img {
    margin: 0px 175px;
}

.services-txt {
    margin-top: 27px;
    display: flex;
    justify-content: space-evenly;
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
}

.services-txt>p {
    min-width: 300px;
    text-align: center;
}

/* deal styles */

.deal {
    background-color: #E554730D;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 168px;
}

.deal-info {
    text-align: center;

}

.off {
    color: #E55473;
}

/* instagram styles */

.instagram-images {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

/* subscribe styles */

.subscribe {
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    height: 449px;
    width: 1440px;
    margin: 0px auto;
    margin-top: 128px;
    padding: 121px 0px;
}

.subscribe-email {
    display: flex;
    justify-content: center;
}

.subscribe-email>input {
    margin-top: 32px;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 16px;
    border: 0px;
}

::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 21px;
}

/* footer styles */

footer {
    background: #111010;
    padding: 128px;
    margin: 0px auto;
}

.footer-title {
    color: #E55473;
}

footer>h5 {
    color: #FFFFFF;
}

.footer-text {

    color: #FFFFFFE5;
    margin: 24px auto 0px auto;

    max-width: 625px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.copyright {
    margin-top: 32px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}